 <!-- <div class="container-2">
    <div class="carousel-container">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/gifs/john.jpg" alt="Random first slide" class="first-img">
                </div>
                <div class="carousel-caption">
                     <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                 <!-- </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/gifs/fasttrack.jpg" alt="Random second slide" class="second-img">
                </div>
                <div class="carousel-caption">
                     <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                <!-- </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/gifs/front.jpg" alt="Random third slide" class="third-img">
                </div>
                <div class="carousel-caption"> -->
                     <!-- <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                <!-- </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <!-- <img src="assets/gifs/girl1.jpg" class="girl-img"> -->
<!-- </div>  --> --> --> --> --> -->
