.first-img{
    width: 100vw;
    height: 30vw;

}
.second-img{
    width: 100vw;
    height: 30vw;
}
.third-img{
    width: 100vw;
    height: 30vw;
}
.carousel-container{
    width: 100%;
    height: 20vh;
}
.container-2{
    display: flex;
   
}
.girl-img{
    height: 400px;
    width: 400px;
    margin-left: 10px;
}

