.navbar-container{
    background-color: aqua;
    color: black;
    /* position: fixed; */
  
   
}
.image{
    height: 50px;
    width: 70px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin: 10px;
    
    
}
.phone-icon{
    margin-left: 8px;
    margin-right: 8px;
   
}
.phone-img{
    height: 30px;
    width: 40px;
    border-radius: 10px;
}
.spacer{
    margin-left:500px;
    margin-right: 20px;
    
}
.small-space{
    margin-left: 20px;
}
.font-size{
    font-size: 15px;
    
}
.menu-icon{
    height: 40px;
    width: 30px;
   
}
.click-gif{
    height: 60px;
    width: 100px;
    margin-left: 20px;
    border-radius: 65px;
   
}
.frames{
    margin-left: 10px;
    margin-right: 10px;
}
.cart-img{
    height: 40px;
}
.admin-icon{
    height: 25px;
    width: 25px;
    background-color: aqua;
}