.navbar-container{
    background-color: aqua;
    color: black;
    position: fixed;
   
}
.image{
    height: 50px;
    width: 70px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin: 10px;
    
    
}
.phone-icon{
    margin-left: 8px;
    margin-right: 8px;
}
.spacer{
    margin-left:700px;
}
.small-space{
    margin-left: 20px;
}
.font-size{
    font-size: 15px;
    
}
.menu-icon{
    height: 40px;
    width: 30px;
   
}