<mat-toolbar [ngStyle]="{'background-color':'#33f5f1','color':'black','width':'100%'}" class="mat-elevation-z6 ">
  <img class="image" src="https://png.pngitem.com/pimgs/s/193-1933710_lenskart-logo-hd-hd-png-download.png">
  <span>LensKart</span>
  <mat-icon class="phone-icon">phone_in_talk</mat-icon>
  <!-- <img src="assets/gifs/phone.jpg" class="phone-icon"> -->
  <span>1800-111-111</span>
  <mat-icon class="spacer">favorite_border</mat-icon>
  <span class="font-size"> WishList</span>
  <mat-icon class="small-space">work</mat-icon>
  <span class="font-size">BasKet</span>
  <mat-icon class="small-space"> person_pin</mat-icon>
  <span class="font-size" (click)="login()">signIn/signOut</span>
  <img src="assets/gifs/click.gif" class="click-gif" >
  
  <span class="font-size">signIn/signOut</span>
  <img src="assets/gifs/click.gif" class="click-gif" (click)="onClickGif()">
</mat-toolbar>