<mat-toolbar [ngStyle]="{'background-color':'#33f5f1','color':'black'}" class="mat-elevation-z6 ">
  <img class="image" routerLink="/home" src="https://png.pngitem.com/pimgs/s/193-1933710_lenskart-logo-hd-hd-png-download.png">
  <span>LensKart</span>
  <mat-icon class="phone-icon">phone_in_talk</mat-icon>
  <span>1800-111-111</span>
  <mat-icon class="spacer" routerLink="./home">home</mat-icon>
  <mat-icon routerLink="/admin-login">security</mat-icon>

  <!-- <mat-icon> <img src="assets/gifs/adminicon.png" class="admin-icon"> </mat-icon> -->
  <button (click)="onClickFrames()" class="frames" mat-button>Frames </button>

  <mat-icon matBadge={{length1}} (click)="onClickWishlist()" class="favourite" >favorite_border</mat-icon>
  <!-- <button mat-button (click)="onClickWishlist()">wishList</button> -->
  <!-- <mat-icon class="small-space" >work</mat-icon> -->
  <img src="assets/gifs/cart.jpg.gif" class="cart-img"  (click)="onClickBasket()">
  <mat-icon matBadge={{length2}} matBadgePosition="before" class="badge"></mat-icon>
  <!-- <button mat-button  (click)="onClickBasket()" class="cart-text">Cart</button> -->
  <!-- <button   class="font-size" mat-button >BasKet</button> -->
  <!-- <mat-icon class="small-space"> person_pin</mat-icon> -->
  <button class="font-size" (click)="login()" mat-button>{{nlogStatus}}</button>
  <!-- <span routerLink="/end" [ngStyle]="{'height':'10px','width':'20px','font-size':'15px','margin-bottom':'20px'}" >LogOut</span> -->



</mat-toolbar>