<div class="message-container" *ngIf="frames.length==0">
  <div class="sm-container">
    <p class="message">Hey My heart is broken </p>
    <p class="span"> Please patch my heart</p>
  <p class="span">with your favourite Items!!! </p>
  </div>
  </div>
  <div class="container">
    <mat-card *ngFor="let frame of frames" class="frame-container">
      <mat-card-header class="title">{{frame.name}}</mat-card-header>
      <img mat-card-md-image src="{{frame.frameImg}}" class="img-container">
      <mat-card-content class="price"> <span class="rupees">Rs: </span>{{frame.price}}</mat-card-content>
      <mat-card-actions>
        <button mat-button color='primary' (click)='onSubmit(frame)' class="view-button"> ViewMore <mat-icon>
            arrow_forward_ios</mat-icon></button>
      </mat-card-actions>
      <div class="btn-container1">
        <mat-card-actions>
          <button mat-raised-button color='primary' (click)="addToBasket(frame)">Add to Basket</button>
      </mat-card-actions>
        <button mat-raised-button color="primary" class="btn" (click)="remove(frame)" >Remove</button>
        
      </div>
     
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="btn-container">
    <button routerLink="/frame" class="back-btn">Back</button>
    
        </div>
  