.container{
    /* background-color: #f9cdf6; */
    height: 300px;
    width: 100vw;
    /* margin: 10px; */
    /* margin-left: 20px; */
    display: flex;
    padding-right: 50px;
    /* margin-left: 0px;
    margin-right: -100px;
     */
     margin-top: 300px;
}
.sm-container{
    width: 900px;
    padding: 30px;
    margin-top: 10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-style: solid;
    border-width: 4px;
    border-color: black;

}
.title{
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.kid-image{
    margin-top: 40px;
    height: 200px;
    width:220px;
    margin-left: 100px;
    border-radius: 20px;

}
.container1{
    background-color: navy;

}
.title1{
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 20px;
    color:white;
}
.title2{
    color:white;
}
.icons{
    color:white;
}
.icon1{
   color: black;
   display: flex;
   justify-self: flex-end;
   align-self: flex-end;

}

/* .fixed-sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    height: 300px;
    padding: 30px 0;
    background: #555;
    color: #fff;
    top: 10px;
    bottom: auto;
} */


