<app-carousel></app-carousel>
<div class="container" >
    <div>
        <h1 class="title">LensKart</h1>
        <div class="sm-container">
            <p>Lenskart is one of the e-commerce portal for eyewear in India. It has revolutionised th...
                Show more Lenskart bank offers a special HDFC bank card offer that gives 3 months free membership ...
                Lenskart is one of the e-commerce portal for eyewear in India. It has revolutionised th...
                Show more Lenskart bank offers a special HDFC bank card offer that gives 3 months free membership .</p>
        </div>

    </div>
    <img src="https://res.cloudinary.com/dwl0mrn75/image/upload/v1643205639/kid2-l_j8ydb4.jpg" class="kid-image">

   

</div>

<div class="container1">
    <h1  class="title1">Buy The Best Eyewear from Lenskart</h1>
    <p class="title2">Lenskart is the leading e-commerce portal for eyewear in India. 
        It has revolutionised the eyewear industry in the country with its omni-channelapproach. 
        From accross major cities in the country to innovate integration of Technology while purchasing online, LensKart caters to every customerwith several deals and offers.
        <br>
        <br>

        A one-stop solution for purchasing eyewear and its accessories, LensKart delivers them right at your doorstep with convenient methods of payment.
        Sunglassess for men and women in a diverse array of styles and trendy colors. If you want to try out contact lenses, pick the ones of your choices from yhe extensive variety of colors store.
    </p>
    <br>
    <p class="title1">Follow Us At :</p>
    <mat-icon class="icons">mail</mat-icon>
    <!-- <i class="fa-brands fa-twitter"></i> -->
  

        <div class="icon1">
            <div class="row">
                 <div class="col-md-8">
                    <mat-icon class="icon1"> chat</mat-icon>
                </div>
             </div>
         </div>

    </div>
    

