<app-carousel></app-carousel>
<div class="container" >
    <div>
        <h1 class="title">LensKart</h1>
        <div class="sm-container">
            <p>Lenskart is one of the e-commerce portal for eyewear in India. It has revolutionised th...
                Show more Lenskart bank offers a special HDFC bank card offer that gives 3 months free membership ...
                Lenskart is one of the e-commerce portal for eyewear in India. It has revolutionised th...
                Show more Lenskart bank offers a special HDFC bank card offer that gives 3 months free membership .</p>
        </div>

    </div>
    <img src="https://res.cloudinary.com/dwl0mrn75/image/upload/v1643205639/kid2-l_j8ydb4.jpg" class="kid-image">

</div>

