<mat-card *ngIf="frame" class="container">
    <mat-card class="sm-container">
        <mat-card-title [ngStyle]="{'color':'black'}"> Name : {{frame.name}} </mat-card-title>
        <mat-card-title [ngStyle]="{'color':'black'}">Brand : {{frame.brand.brandName.toUpperCase()}} </mat-card-title>
        <br>
        <mat-card-content class="size">$ize: {{frame.frameSize}} </mat-card-content><br>
        <img src="{{frame.frameImg}}" class="image1" />
        <div class="r-container">
            <mat-card-content class="rating">Rating: {{frame.rating}} <mat-icon class="star">grade</mat-icon>
            </mat-card-content>
            <mat-card-content>Rs. {{frame.price}}/-</mat-card-content>
        </div>
    </mat-card>
</mat-card>