<div class="container">
    <mat-card *ngFor="let frame of frames" class="frame-container">
<mat-card-header class="title">{{frame.name}}</mat-card-header>
<img mat-card-md-image src="{{frame.frameImg}}" class="img-container">
<mat-card-content class="price"> <span class="rupees">Rs: </span>{{frame.price}}</mat-card-content>
<mat-card-actions>
    <button mat-button color='primary' (click)='onSubmit(frame)' class="view-button"> ViewMore <mat-icon>arrow_forward_ios</mat-icon></button>
</mat-card-actions>    
</mat-card>
</div>


<div  class="btn-container">
    <button class="all-button" routerLink="/home">Back</button> 
    <button mat-button class="all-button" (click)='seeAll()'>See <img src="assets/gifs/eye2.jpg.gif" class="eye-img"> All </button>
</div>

<!-- <img src="assets/gifs/eyes.jpg" class="eye-image">  -->





