.frame-container{
    background-color: white;
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #124292;


}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    box-shadow: bisque;
    height: 400px;
    width: 550;
    flex-wrap: wrap;
    

}
.title{
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
}
.price{
    color: black;
    margin-top: 10px;
    font-family: 'Roboto';
}
.rupees{
    font-size: 20px;
    font-weight: 500;
}
.view-button{
    font-size: 20px;
}
.img-container{
    height: 150px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color:#68551e;
    border-radius: 5px;
    padding: 10px;
}
.btn-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 700px;
    margin-bottom: 200px;
    
}
.all-button{
    background-color: #224eaf;
    height: 50px;
    width: 150px;
    font-size:20px;
    color: white;
    font-family: 'Couriew New';
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 60px;
}
.eye-image{
    height: 50px;
    width: 50px;
    border-radius: 80px;
}
.eye-img{
   height: 20px;
   border-radius: 10px;

}