.star{
    color: rgb(224, 140, 31);
}
.container{
    height: 90%;
    /* background-image: url(../../../assets/gifs/handframe.jpg); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:white;
    margin: 0px;
    border-color:black ;
   

}
.sm-container{
    color:white;
    background-color: white;
    height: 450px;
    width: 500px;
    text-align: center;
    margin-top: 100px;
    border-color: black;
}
.image1{
    height: 130px;
    width: 150px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;


}
.size{
    color: white;
    font-size: 20px;
   
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin-left: 70px;

}
.r-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin-left: 70px;

}
.rating{
    color:black;
}
.price{
    color:black;
}
