

<div  class="container">
 
<div *ngFor="let user of users" class="sm-container"> 
    <img src="assets/gifs/user1.jpg" class="user-img">
       <p class="title">Name : <span class="sub-title">{{user.userName}}</span>    </p>
       <p class="title" >Mobile:  <span class="sub-title">{{user.mobile}}</span>  </p>
       <p class="title">Email: <span class="sub-title">{{user.email}}</span> </p>
       <p class="title">Address: <span class="sub-title">{{user.address}}</span> </p>
       <p class="title"> <span class="sub-title">{{user.zipcode}}</span> </p>
</div>


</div>
