<div class="container-1">
  <h1 class="heading">
    Explore based on
  </h1>

<select  (change)="changeValue($event)" class="select-option">
  <option value="default">----Select----</option>
  <option *ngFor="let option of options" [value]="option.title" class="option" >
      {{option.title}}
  </option>
</select>

  <form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
    <input type="search" name="search" placeholder={{searchOption}} #search="ngModel" ngModel
      class="search-container" />
    <button type="submit" class="search-btn">Search</button>
  </form>
</div>

<div *ngIf="frames.length==0">{{oops}} </div>

<div class="container" *ngIf="frames.length!=0">
  <mat-card *ngFor="let frame of frames" class="frame-container">
    <mat-card-header class="title">{{frame.name}}</mat-card-header>
    <img mat-card-md-image src="{{frame.frameImg}}" class="img-container">
    <mat-card-content class="price"> <span class="rupees">Rs: </span>{{frame.price}}/-</mat-card-content>
    <mat-card-actions>
      <button mat-button color='primary' (click)='onSubmit(frame)' class="view-button"> ViewMore <mat-icon>
          arrow_forward_ios</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="btn-container">
<button class="btn" routerLink="/sample-frames" >Back</button>

</div>