<div class="container-1">
  Explore based on
  <select class="sel-container">
    <option value="brand" >Brand</option>
    <option value="brand">Category</option>
    <option value="brand">Gender</option>
  </select>
</div>


<!-- <mat-select required ngModel name="category" [(ngModel)]="category">
  <mat-option
    *ngFor="let category of categories"
    value={{category}}
  >
    {{ category }}
  </mat-option>
</mat-select> -->



<div class="container">
  <mat-card *ngFor="let frame of frames" class="frame-container">
    <mat-card-header class="title">{{frame.name}}</mat-card-header>
    <img mat-card-md-image src="{{frame.frameImg}}" class="img-container">
    <mat-card-content class="price"> <span class="rupees">Rs: </span>{{frame.price}}</mat-card-content>
    <mat-card-actions>
      <button mat-button color='primary' (click)='onSubmit(frame)' class="view-button"> ViewMore <mat-icon>
          arrow_forward_ios</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>